/downloads/
/workspace/
/conf/devbase.bat
/source/
/data/
/mvn-repo/
/conf/eclipse-settings.zip
/tools/console/
/tools/eclipse/
/tools/eclipse_ee
/tools/forge/
/tools/jdk_8/
/tools/jdk_10/
/tools/mvn/
/tools/npp/
/tools/tomee/
/tools/wildfly/
/tools/sublime
/tools/sourcetree/
/tools/git/
/tools/meld/
/tools/ansic0n/
/tools/Atom/
/tools/vstudio/
/tools/postgres/
/tools/nodejs/
/tools/gitbook-editor/
/tools/vagrant/
/tools/dotnet/
/tools/gradle/
/conf/template.bat
/conf/git.bat
/conf/forge.bat
/conf/jboss.bat
/conf/tomcat.bat
/conf/scala.bat
/conf/meld.bat
/conf/postgres.bat
/conf/node.bat
/conf/dotnet.bat
/conf/vagrant.bat
/start_sourcetree.bat
/start_eclipse.bat
/start_visual_studio.bat
/templates/template.bat
/start_postgres.bat
/postgres.log
conf/vstudio.bat
conf/gradle.bat
conf/ant.bat
tools/ant/
