/downloads
/workspace
/conf/devbase.bat
/mvn-repo
/conf/eclipse-settings.zip
/tools/console/
/tools/eclipse/
/tools/forge/
/tools/jdk_8/
/tools/mvn/
/tools/npp/
/tools/tomee/
/tools/wildfly/
/tools/sublime
/conf/template.bat
tools/sourcetree/
start_sourcetree.bat
/tools/git
tools/meld
