/downloads/
/workspace/
/conf/devbase.bat
/source/
/data/
/mvn-repo/
/conf/eclipse-settings.zip
/tools/console/
/tools/eclipse/
/tools/forge/
/tools/jdk_8/
/tools/mvn/
/tools/npp/
/tools/tomee/
/tools/wildfly/
/tools/sublime
/tools/sourcetree/
/tools/git/
/tools/meld/
/conf/template.bat
/conf/git.bat
/conf/forge.bat
/conf/jboss.bat
/conf/tomcat.bat
/conf/scala.bat
/start_sourcetree.bat
/templates/template.bat
