@echo off
rem ===================================================================
rem JBoss Forge Configuration
rem ===================================================================

rem Configure home folder
set FORGE_HOME=%TOOLS_DIR%\forge

rem Extend path
set PATH=%FORGE_HOME%\bin;%PATH%
