@echo off
rem ===================================================================
rem Git Configuration
rem ===================================================================

rem Configure home folder
set GIT_HOME=%TOOLS_DIR%\git

rem Extend path
set PATH=%GIT_HOME%\bin;%GIT_HOME%\cmd;%PATH%
