@echo off
rem ===================================================================
rem PostgreSQL Configuration
rem ===================================================================

rem Configure postgres data folder
set PG_DATA=%WORKING_DIR%data

set PG_HOME=%TOOLS_DIR%\postgres
set PATH=%PG_HOME%\bin;%PATH%
