@echo off
rem ===================================================================
rem Tomcat Configuration
rem ===================================================================

rem Configure home folder
set TOMCAT_HOME=%TOOLS_DIR%\tomcat

rem Extend path
set PATH=%TOMCAT_HOME%\bin;%PATH%
