@echo off
rem ===================================================================
rem Tomcat Configuration
rem ===================================================================

rem Configure home folder
set CATALINA_HOME=%TOOLS_DIR%\tomee

rem Extend path
set PATH=%CATALINA_HOME%\bin;%PATH%
