@echo off
rem ===================================================================
rem Vagrant Configuration
rem ===================================================================

rem set Home dir
set VAGRANT_HOME=%TOOLS_DIR%\vagrant\HashiCorp\Vagrant

rem Extend path
set PATH=%VAGRANT_HOME%\bin;%PATH%
